html,
body {
    margin: 0;
		padding: 0;
		overflow-x: : hidden;
    height: 100%;
		width: 100%;
    background-color: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
    font-size:95%;
}

h1{
    font-size:50px;
    font-weight: 300;
}

b, strong {
    font-weight: 600;
}

h2{
    font-size:30px;
    font-weight: 100;
}

h3{
    font-size:20px;
    font-weight:100;

    margin-bottom: 26px;
}

h4{
    font-size:15px;
    font-weight:100
}

h1 h2 h3 h4{
    color: darkslategray !important;
}
p {
    margin: 0;
    padding: 0;
}

header {
    position: absolute;
    top: 10px;
    left: 10px;
}

/*Sections*/
.centered-section {
    text-align: center;
}

.full-screen {
    height: 100%; /* makes panels the entire window height */
		width: 100%;
}

#project-logo{
    width:30%;
    margin-left: 9%
}

#epfl-logo{
    width:53%;
		margin-left: 5%
}

i{
    font-size: 50%;
}

.title{
    margin: auto;
    padding: 0.5em 1em;
}
h1 span{
    padding:0.3em 0.3em;
    background-color: white;
}

.bottom{
    background-color: lightgray;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
}

.sunburst{
    transform: translate(350px,850px);
    position: relative !important;
}

div.tooltip_fixed {
    transform: translate(350px,850px);
    position: absolute;
    text-align: left;
    width: auto;
    height: auto;
    padding: 8px;
    font: 12px sans-serif;
    background: #0a2538;
    border: #0a2538 1px solid;
    border-radius: 0px;
    pointer-events: none;
    color: white;
}

div.tooltip {
	position: absolute;
	text-align: left;
	width: auto;
	height: auto;
	padding: 8px;
	font: 12px sans-serif;
	background: #0a2538;
	border: #0a2538 1px solid;
	border-radius: 0px;
	pointer-events: none;
	color: white;
}

.logos{
    float:left;
    top:10px;
    margin-right:10%
}

.data-story{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 67px;
    border-radius: 4px;
    padding: 30px;
    text-align: justify;
}

#page-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* (x, y)  => position */
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */
    padding: 53px 70px 70px 70px;
    background: rgba(255,255,255,.8);
    border-radius: 7px;
}

#about-us{
    margin-top:-10px;
    padding:100px;
}

.socialmedia{
    margin-right:12px;
    margin-left:12px;
}

#intro-section{
    background-image: url('imgs/background.jpg');
		background-size: 100% auto;
}


.centered-text{
    text-align:center;
}

.about-us-section{
    margin-top: 130px;
}
#cy {
    transform: translate(50px,50px);
    position: absolute;
	width: 1000px;
	height: 1000px;
}

#filters{
	float: right;
}

.sunburst_section{
    margin-top: 700px; 
}